<div class="ui large borderless menu">
  <a class="item" href="/"><img src="/logo-violet.svg" /></a>
  <div class="item">资源搜索</div>
  <div class="right menu">
    <div class="ui category search item" method="get" action="/detail">
      <form class="ui transparent icon input">
        <input class="prompt" name="wd" placeholder="搜索资源" autocomplete="off" />
        <i class="search link icon"></i>
      </form>
      <div class="results"></div>
    </div>
  </div>
</div>
