<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="icon" href="/logo-violet.png" />
  <title>{{ wd }} - 搜索结果</title>
  {{ style('semantic/dist/semantic.min') }}
  {{ style('style/detail') }}
</head>
<body>
  <div class="ui container">
    <div class="ui grid centered">
      <div class="sixteen wide mobile sixteen wide computer column">
        @!component('components.navigator')
      </div>
      <div class="sixteen wide mobile eleven wide computer column">
        <div class="ui gray message">
          <strong>「{{ wd }}」</strong>相关结果，相关资源为您找到约 {{ dataset.num }}，百度云盘结果 {{ baiduyun.num }} 条
        </div>
        <div class="ui tabular menu" style="margin-bottom: 0">
          <a class="item active" data-tab="tab-movie-resource">相关资源</a>
          <a class="item" data-tab="tab-baiduyun">百度云盘</a>
        </div>
        <div class="ui divided items card bottom attached tab segment active" data-tab="tab-movie-resource">
          @each(data in dataset.dataset)
          <div class="item">
            <div class="content">
              <a class="header" target="_blank" href="/detail/source?id={{ data.href.id }}&type={{ data.href.type }}&p=source">{{ data.title }}</a>
              <div class="meta">
                @if(data.time)
                <span class="time">时间：{{ data.time }}</span>
                @endif
              </div>
              <div class="extra">
                @if(data.douban)
                <div class="ui green label">豆瓣 {{ data.douban }}</div>
                @endif
                @if(data.imdb)
                <div class="ui orange label">IMDB {{ data.imdb }}</div>
                @endif
              </div>
            </div>
          </div>
          @endeach
        </div>
        <div class="ui divided items card bottom attached tab segment baiduyun" data-tab="tab-baiduyun">
          @each(data in baiduyun.dataset)
          <div class="item">
            <div class="content">
              <a class="header" target="_blank" href="/detail/source?id={{ data.href }}&p=baiduyun">{{ data.text }}</a>
              <div class="extra">
                <div class="ui label">时间：{{ data.date }}</div>
                <div class="ui label">文件大小：{{ data.size }}</div>
              </div>
              @if(data.detail.length)
              <div class="description">
                @each(detail in data.detail)
                <p>{{ detail }}</p>
                @endeach
              </div>
              @endif
            </div>
          </div>
          @endeach
        </div>
      </div>
      <div class="sixteen wide mobile five wide computer column">
        <div class="ui card">
          <div class="image" style="background: #FFF">
            <img src="/images/jp-lite.png" style="margin: 0 auto; width: 60%;" />
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">百度云密码提取</div>
            <form class="ui fluid action input description" method="post" action="/detail/items">
              <input type="text" name="url" placeholder="输入提取链接" autocomplete="off" />
              {{ csrfField() }}
              <button class="circular ui icon button" type="submit">提交</button>
            </form>
            @if(flashMessage('message'))
              @!component('components.alert', {
                type: [flashMessage('type')],
                header: [flashMessage('header')],
                message: [flashMessage('message')]
              })
            @endif
          </div>
        </div>
        <div class="ui card">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-f9+5v+4m-d8+7b"
            data-ad-client="ca-pub-8061733603127258"
            data-ad-slot="9845064267"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </div>
  {{ script('https://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js') }}
  {{ script('semantic/dist/semantic.min') }}
  <script type="text/javascript">
    $('.tabular.menu .item').tab()
    $('.message .close').on('click', function() {
      $(this).closest('.message').transition('fade')
    })
  </script>
</body>
</html>
