<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="icon" href="/logo-violet.png" />
  <title>资源搜索</title>
  {{ style('https://ji.ferer.net/webapp/semantic/dist/semantic.min.css') }}
  {{ style('style/index') }}
</head>
<body>
  <div class="ui container">
    <div class="logo"></div>
    <form method="get" action="/detail" class="ui fluid input">
      <input type="text" name="wd" placeholder="搜索资源" autocomplete="off" />
    </form>
  </div>
  <section></section>
  <footer>
    <p>本平台任何内容由网络爬虫自动抓取，以非人工方式自动生成。不进行储存、复制、传播任何文件，资源文件的完整性需要您自行判断。</p>
  </footer>
</body>
</html>
