<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="icon" href="/logo-violet.png" />
  <title>{{ dataset.title }} - 资源详细</title>
  {{ style('semantic/dist/semantic.min') }}
  {{ style('style/source') }}
</head>
<body>
  <div class="ui container">
    <div class="ui grid centered">
      <div class="sixteen wide mobile sixteen wide computer column">
        @!component('components.navigator')
      </div>
      <div class="sixteen wide mobile eleven wide computer column">
        @if(dataset.p == 'source')
        <div class="ui divided items card">
          <div class="item">
            <div class="content">
              <a class="header">{{ dataset.title }}</a>
              <div class="description">
                {{ dataset.description }}
              </div>
            </div>
          </div>
        </div>
        <div class="ui divided items card">
          <div class="item">
            <div class="content">
              <div class="meta" style="margin-top: 0;">
                <p class="attrs">导演：{{ dataset.content.attrs }}</p>
                <p class="screenwriter">编剧：{{ dataset.content.screenwriter }}</p>
                <p class="actor">主演：{{ dataset.content.actor }}</p>
                <p class="runtime">类型：{{ dataset.content.type }}</p>
                <p class="runtime">放映时长：{{ dataset.content.runtime }}</p>
                <p class="time">上映时间：{{ dataset.content.date }}</p>
                <p class="local">制片国家 / 地区：{{ dataset.content.local }}</p>
                <p class="local">IMDb：<a href="http://www.imdb.com/title/{{ dataset.content.imdb_href }}" target="_blank">{{ dataset.content.imdb_href }}</a></p>
              </div>
              <div class="extra">
                @if(dataset.content.douban)
                <a class="ui green label" href="{{ dataset.content.douban.href }}">
                  豆瓣 {{ dataset.content.douban.count }}
                </a>
                @endif
                @if(dataset.content.imdb)
                <a class="ui orange label" href="{{ dataset.content.imdb.href }}">
                  IMDB {{ dataset.content.imdb.count }}
                </a>
                @endif
              </div>
            </div>
          </div>
        </div>
        <div class="ui divided items card">
          <div class="content">
            <div class="meta" style="margin-top: 0;">
              <div class="ui list">
                <div class="item">
                  <div class="right floated content">
                    <a class="ui grey label" href="{{ dataset.baiduyun.href }}" target="_blank" rel="noreferrer">百度</a>
                  </div>
                  <div class="content">
                    <p><a href="{{ dataset.baiduyun.href }}" target="_blank" rel="noreferrer">{{ dataset.baiduyun.text }} {{ dataset.baiduyun.pass }}</a></p>
                  </div>
                </div>
                @each(data in dataset.download)
                @if(data.size)
                <div class="item">
                  <div class="right floated content">
                    <span class="ui label">{{ data.size }}</span>
                    @each(label in data.label)
                    <a class="ui {{ label.color }} label" href="{{ label.href }}" target="_blank" rel="noreferrer">{{ label.text }}</a>
                    @endeach
                  </div>
                  <div class="content">
                    <p><a href="{{ data.href }}" target="_blank" target="_blank" rel="noreferrer">{{ data.text }}</a></p>
                  </div>
                </div>
                @endif
                @endeach
              </div>
            </div>
          </div>
        </div>
        @endif
        @if(dataset.p == 'baiduyun')
        <div class="ui divided items card baiduyun">
          <div class="item">
            <div class="content">
              <a class="header">{{ dataset.title }}</a>
              <div class="content">
                <p>{{ dataset.title }}内部结构</p>
                @if(dataset.detail.length)
                <div class="description">
                  @each(detail in dataset.detail)
                  <p>{{ detail }}</p>
                  @endeach
                </div>
                @endif
              </div>
              <div class="extra">
                <a class="ui label">
                  文件大小 {{ dataset.info.size }}
                </a>
                <a class="ui label">
                  更新日期 {{ dataset.info.date }}
                </a>
                <div class="ui right floated">
                  @if(dataset.baiduyun.pass)
                  <span class="ui purple label">
                    {{ dataset.baiduyun.pass }}
                  </span>
                  @endif
                  <a class="ui blue label" href="{{ dataset.baiduyun.href }}" target="_blank" rel="noreferrer">
                    网盘下载
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui divided items card baiduyun">
          <div class="item">
            <div class="content">
              <div class="header">「{{ dataset.title }}」相关资源</div>
              <div class="description">
                @each(data in relation.dataset)
                <p><a class="header" href="/detail/source?id={{ data.href }}&p=baiduyun">{{ data.text }}</a></p>
                @endeach
              </div>
            </div>
          </div>
        </div>
        @endif
      </div>
      <div class="sixteen wide mobile five wide computer column">
        <div class="ui card">
          <div class="image" style="background: #FFF">
            <img src="/images/jp-lite.png" style="margin: 0 auto; width: 60%;" />
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header">百度云密码提取</div>
            <form class="ui fluid action input description" method="post" action="/detail/items">
              <input type="text" name="url" placeholder="输入提取链接" autocomplete="off" />
              {{ csrfField() }}
              <button class="circular ui icon button" type="submit">提交</button>
            </form>
            @if(flashMessage('message'))
              @!component('components.alert', {
                type: [flashMessage('type')],
                header: [flashMessage('header')],
                message: [flashMessage('message')]
              })
            @endif
          </div>
        </div>
        <div class="ui card">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-f9+5v+4m-d8+7b"
            data-ad-client="ca-pub-8061733603127258"
            data-ad-slot="9845064267"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
