<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="icon" href="/logo-violet.png" />
  <title>{{ dataset.title }} - 资源详细</title>
  {{ style('semantic/dist/semantic.min') }}
  {{ style('style/source') }}
</head>
<body>
  <div class="ui container">
    <div class="ui grid centered">
      <div class="sixteen wide mobile fifteen wide computer column">
        @!component('components.navigator')
      </div>
      <div class="sixteen wide mobile ten wide computer column">
        @if(dataset.p == 'source')
        <div class="ui divided items card">
          <div class="item">
            <div class="content">
              <a class="header">{{ dataset.title }}</a>
              <div class="description">
                {{ dataset.description }}
              </div>
            </div>
          </div>
        </div>
        <div class="ui divided items card">
          <div class="item">
            <div class="content">
              <div class="meta" style="margin-top: 0;">
                <p class="attrs">导演：{{ dataset.content.attrs }}</p>
                <p class="screenwriter">编剧：{{ dataset.content.screenwriter }}</p>
                <p class="actor">主演：{{ dataset.content.actor }}</p>
                <p class="runtime">类型：{{ dataset.content.type }}</p>
                <p class="runtime">放映时长：{{ dataset.content.runtime }}</p>
                <p class="time">上映时间：{{ dataset.content.date }}</p>
                <p class="local">制片国家 / 地区：{{ dataset.content.local }}</p>
                <p class="local">IMDb：<a href="http://www.imdb.com/title/{{ dataset.content.imdb_href }}" target="_blank">{{ dataset.content.imdb_href }}</a></p>
              </div>
              <div class="extra">
                @if(dataset.content.douban)
                <a class="ui green label" href="{{ dataset.content.douban.href }}">
                  豆瓣 {{ dataset.content.douban.count }}
                </a>
                @endif
                @if(dataset.content.imdb)
                <a class="ui orange label" href="{{ dataset.content.imdb.href }}">
                  IMDB {{ dataset.content.imdb.count }}
                </a>
                @endif
              </div>
            </div>
          </div>
        </div>
        <div class="ui divided items card">
          <div class="content">
            <div class="meta" style="margin-top: 0;">
              <div class="ui list">
              @each(data in dataset.content.download)
                <div class="item">
                  <div class="right floated content">
                    <a class="ui gray label" href="{{ data.href }}">ED2K</a>
                  </div>
                  <div class="content">
                    <p><a href="{{ data.href }}" target="_blank">{{ data.text }}</a></p>
                  </div>
                </div>
              @endeach
              </div>
            </div>
          </div>
        </div>
        @endif
        @if(dataset.p == 'baiduyun')
        <div class="ui divided items card">
          <div class="item">
            <div class="content">
              <a class="header">{{ dataset.title }}</a>
              <div class="extra">
                <a class="ui label">
                  文件大小 {{ dataset.info.size }}
                </a>
                <a class="ui label">
                  更新日期 {{ dataset.info.date }}
                </a>
              </div>
            </div>
          </div>
        </div>
        @endif
      </div>
      <div class="sixteen wide mobile five wide computer column">
        <div class="ui card">
          <div class="image" style="background: #FFF">
            <img src="http://v.pipique.com/ad/jkad.png" style="margin: 0 auto; width: 60%;" />
          </div>
        </div>
        @each(data in [0, 1, 2])
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
          style="display:block"
          data-ad-format="fluid"
          data-ad-layout-key="-f9+5v+4m-d8+7b"
          data-ad-client="ca-pub-8061733603127258"
          data-ad-slot="9845064267"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        @endeach
      </div>
    </div>
  </div>
</body>
</html>
